.required {
  label {
    &:after {
      content: '\00a0*';
      display: inline-block;
      color: var(--v-error-base);
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
